extends layout

block content
  h1 Success!
  p You submitted the following:
  ol
    li Name: #{name}
    li State: #{state}
    li Status: #{status}
    li Interests: #{interests}
    li Description: #{description}
